<%- include('../partials/header') %>
<h1><%= title %></h1>

<form action="/events/<%= event._id %>" method="POST">
    <label>Event Picture:
      <input type="file" name="image">
    </label>
  
    <label>Title:
      <input type="text" name="title" value="<%= event.title %>">
    </label>

    <label>Date and time:
      <input 
        type="datetime-local"
        name="date"
        required
        value="<%= event.date %>"
        >
    </label>

    <label>Duration:
      <input type="number" name="duration" value="<%= event.duration %>">
    </label>

    <label>Location:
      <input type="text" name="location" value="<%= event.location %>">
    </label>

    <label>Venue Type:
      <select name="venueType">
        <option value="Indoor">Indoor</option>
        <option value="Outdoor">Outdoor</option>
      </select>
    </label>

    <label>Description:
      <textarea name="description" value="<%= event.description %>" cols="30" rows="10"></textarea>
    </label>

    <label>Cost:
      <input type="text" name="cost" value="<%= event.cost %>">
    </label>

    <label>Capacity:
      <input type="number" name="capacity" value="<%= event.capacity %>">
    </label>

    <button type="submit">Confirm Edit Event</button> 
  </form>

<%- include('../partials/footer') %>