<%- include('../partials/header') %>

<% events.forEach(function(e) { %>
<a href="/events/<%= e._id %>">
    <div class="card-container">
        <img class="thumbnail-photo" src="../images/thumbnail_1.jpg">
        <div class="card-texts">
            <h2><%= e.title %></h2>
            <p><%= e.location %></p>
            <p><%= e.date.toLocaleDateString() %></p>
        </div>
    </div>
</a>
<% }); %>

<%- include('../partials/footer') %>