<%- include('../partials/header') %>

<div class="event-form-container">
    <img class="event-banner" src="<%= event.image %>" alt="picture">
    <h2><%= event.title %></h2>
    <p><%= event.location %></p>
    <p><%= event.venueType %></p>
    <p><%= event.date.toLocaleDateString() %></p>
    <p><%= event.description %></p>
    <p><%= event.cost %></p>

    <!-- attend button -->
    <form action="/events/<%= event._id %>/comments" method="POST">
        <button type="submit">Attend event</button>
    </form>
    
    <!-- attendees list -->
    <h2>Attendees:</h2>
    <% if (event.users) {%>

            <ul>
                <% event.users.forEach(function(u) { %>
                  <li><%= u.user %></li>
                <% }) %>
            </ul>

    <% } else { %>
        <p>No one RSVPed yet...</p>
    <% } %>
</div>


<div class="event-form-container">
    <h2>Comment section</h2>

    <!-- write a comment here -->
    <form action="/events/<%= event._id %>/comments" method="POST">
        <p><%= user.userName %></p>
        <textarea name="content"></textarea>
        <button type="submit">Add comment</button>
    </form>

    <!-- comment section -->
    <% if (event.comments) { %>
        <div>
            <% event.comments.forEach(function(c) { %>
                <div>
                    <img alt="avatar" src="<%= c.avatar %>" referrerpolicy="no-referrer">
                    <%= c.userName %>
                </div>
                <div><%= c.createdAt.toLocaleDateString() %></div>
                <div><%= c.content %></div>
                <!-- delete a comment -->
                <% if (user?._id.equals(c.user)) { %>
                    <form action="/events/<%= c._id %>?_method=DELETE" method="POST">
                        <button type="submit">&times;</button>
                    </form>
                <% } %>
            <% }); %>
        </div>
    <% } else { %>
        <p>No comments yet</p>
    <% } %>
</div>





<div class="event-form-container">
<!-- Edit event -->
        <a href="/events/<%= event._id %>/edit">
            <button type="submit">Edit event</button>
        </a>
<!-- Delete event -->
        <form action="/events/<%= event._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete event</button>
        </form>
</div>

<%- include('../partials/footer') %>