<%- include('../partials/header') %>

<div class="event-form-container">

    <img class="hero-photo" src="../images/thumbnail_1.jpg">
    <h2><%= event.title %></h2>
    <p><%= event.location %></p>
    <p><%= event.venueType %></p>
    <p><%= event.date.toLocaleDateString() %></p>
    <p><%= event.description %></p>
    <p><%= event.cost %></p>
    <p>Attendees:</p>

</div>


<div class="event-form-container">
    <h2>Comment section</h2>

    <!-- write a comment here -->
<<<<<<< HEAD
    <form action="/events/<%= event._id %>/comments" method="POST">
=======
    <form action="/events/<%= event._id %>/comments" method="post">
>>>>>>> origin/main
        <p><%= user.userName %></p>
        <textarea name="content"></textarea>
        <button type="submit">Add comment</button>
    </form>

    <!-- comment section -->
    <% if (event.comments) { %>
        <div>
            <% event.comments.forEach(function(c) { %>
                <div>
                    <img alt="avatar" src="<%= c.avatar %>" referrerpolicy="no-referrer">
                    <%= c.userName %>
                </div>
                <div><%= c.createdAt.toLocaleDateString() %></div>
                <div><%= c.content %></div>
<<<<<<< HEAD
                <!-- delete a comment -->
                <% if (user?._id.equals(c.user)) { %>
                    <form action="/events/<%= c._id %>?_method=DELETE" method="POST">
=======

                <% if (user?._id.equals(c.user)) { %>
                    <form action="/events/<%= c._id %>?_method=delete" method="post">
>>>>>>> origin/main
                        <button type="submit">&times;</button>
                    </form>
                <% } %>
            <% }); %>
        </div>
    <% } else { %>
        <p>No comments yet</p>
    <% } %>
</div>

<%- include('../partials/footer') %>