<%- include('../partials/header') %>

<div class="card-container">
       
    <img src="<%= user.avatar %>" alt="picture">
    <div class="card-texts">
        <h2><%= user.name %></h2>
        <p><%= user.city %></p>
        <p><%= user.interests %></p>
        <p><%= user.aboutMe %></p>
        <p><%= user.eventsAttended %></p>
        <p><%= user.eventsHosted %></p>
    </div>

    <form action="/users/<%= user._id %>/edit" method="get">
        <button type="submit">Edit Profile</button>
    </form>
</div>

<%- include('../partials/footer') %>