<%- include('../partials/header') %>
<h1><%= title %></h1>

<div class="profile-container">
    <img class="user-photo" src="<%= user.avatar %>" alt="picture">
    <div class="profile-texts">
        <div>
            <h2 class="inline username"><%= user.userName %>, </h2>
            <p class="inline"><%= user.city %></p>
            <p><%= user.aboutMe %></p>
        </div>
        <a href="/users/<%= user._id %>/edit">
            <button type="submit" class="edit-button">Edit Profile</button>
        </a>
    </div>
</div>

<%- include('../partials/footer') %>